

#boothform{
    max-width: 500px;
    min-width: 300px;
    max-height: 100%;
    width: 30%;
    height: 100%;
    margin: 100px auto 100% auto;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .booth-title {
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 2rem;
  }
  
  .booth-image-container {
    width: 90%;
    border-radius: 25px;
    /* background-color: blueviolet; */
  }
  .booth-image {
    height: 100%;
    width: 100%;
    border-radius: 25px;
  }

  .booth-content-container {
    width: 90%;
    margin: 20px;
    height: 100%;
  }

  .booth-content1 {
    border-radius: 25px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.3);
    padding: 20px;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .booth-content2 {
    border-radius: 25px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.3);
    padding: 20px;
    font-size: 1.4rem;
  }
  .booth-content-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #f41c4e;
  }
  .booth-content-sub-title {
    font-size: 2rem;
  }
  .sub-notice {
    font-size: 1.3rem;
  }