

#boothform{
    max-width: 500px;
    min-width: 300px;
    max-height: 100%;
    width: 30%;
    height: 60%;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .booth-title {
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 2rem;
  }
  
  .booth-image-container {
    width: 90%;
    border-radius: 25px;
    /* background-color: blueviolet; */
  }
  .booth-image {
    height: 100%;
    width: 100%;
    border-radius: 25px;
  }

  .booth-content-container {
    width: 90%;
    margin: 20px;
    height: 100%;
  }

  .booth-content {
    border-radius: 25px;
    height: 100%;
    background-color: rgb(234, 234, 234);
    padding: 20px;
    font-size: 1.4rem;
  }
  .booth-content-title {
    font-size: 2rem;
  }
  .booth-content-sub-title {
    font-size: 1.6rem;
  }